@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Quicksand", sans-serif;
}
main {
  margin: 25px;
}

/* Home Page */
.banner {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}
.price,
.hargaDisc {
  color: #ff930f;
  font-weight: bold;
}
.harga {
  font-size: 11pt;
}
.paket:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -8px;
  border: 1px solid #cccccc;
  background-color: white;
}
.benefit-content {
  text-align: justify;
}
#event {
  background: linear-gradient(to right, #ff8008, #ffc837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}

#event a:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -20px;
  border: 1px solid #cccccc;
  background: linear-gradient(to right, #ff8008, #ffc837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
}
.bioMentor {
  text-align: justify;
  font-size: 11pt;
}
/* About Page */
.contentProfil {
  text-align: justify;
}

/* Breakpoint */
@media screen and (max-width: 576px) {
  /* Page Home */
  .banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
  }
  /* Page About */
  .imgAbout {
    width: 75%;
  }
  /* Footer */
  .igAccount {
    margin-right: 30px;
    margin-left: 20px;
  }
  .fbAccount {
    margin-right: 25px;
  }
}

footer {
  padding: 13px 0;
  background: linear-gradient(180deg, rgba(248, 155, 41, 1) 0%, rgba(255, 147, 15, 1) 65%, rgba(248, 169, 2, 1) 100%);
  color: white;
}
